<div class="main-container">
  <h3 class="title">Movies Gallery</h3>
  <div class="select-container">
    <select
      class="select"
      aria-placeholder="select genre"
      [formControl]="selectControl"
    >
      <option value="def" disabled selected>select genre</option>
      <option value="all">select all genres</option>
      <option value="{{ genre }}" *ngFor="let genre of genresArray">{{
        genre
      }}</option>
    </select>

    <div class="view-container">
      <span>view as:</span>
      <img
        src="https://img.icons8.com/ios-filled/50/000000/show-all-views.png"
        [ngClass]="{ active: viewMode === 'grid' }"
        (click)="viewMode = 'grid'"
      />
      <img
        src="https://img.icons8.com/ios-filled/50/000000/day-view.png"
        [ngClass]="{ active: viewMode === 'rows' }"
        (click)="viewMode = 'rows'"
      />
    </div>
  </div>
  <div class="movies-container" [ngClass]="{ view2: viewMode === 'rows' }">
    <app-movie-item
      *ngFor="let movie of filteredMovies; let i = index"
      [movieObj]="movie"
      [viewType]="viewMode"
    ></app-movie-item>
  </div>
</div>
